
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {padding:0; margin: 0; box-sizing: border-box; font-family: 'Ubuntu';}

.center {
    margin: 0px auto;
    align-items: center;
}

.container {
    margin-top: 100px;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.form-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input-principal {
    padding: 5px;
    margin: 2px;
    border: 1px solid #8a8888;
    border-radius: 4px;
}

.input-submit {
    padding: 5px;
    margin: 2px;
    border: 1px solid #8a8888;
    border-radius: 4px;
    background-color: green;
}    
    

h1 {
    text-align: center;
}
